html{
height: 100%;
}

body{
	/*background: #eee url(../img/varios/logoGFondo03.png);*/
	background: #e0f9d1;
	/*cursor: url(../img/varios/logoGCursor01.cur), url(../img/varios/logoGCursor01.ani), url(../img/varios/logoGCursor01.gif), auto;*/
	font-size: 16px;
	height: 100%;
}

#contenedor{
	min-height: 100%;
	height: 100%;
	margin: 0 auto -70px;
}

/* ****************************
****** TABLA CONTENEDORA ******
**************************** */
.tablaContenedor{
	margin: 0 auto;
	width: 990px; 
}


/* *******************
****** CABECERA ******
******************* */

#cabeceraLogoG{
	height: 100px;
	margin: 25px 25px;
	position: absolute;
	top: 25px;
	width: 100px;
	z-index: 99;
}


#cabeceraBanner{
	background-image: url('../img/cabecera/cabecera01.jpg');
	height: 220px;
	width: 990px;
}

#cabeceraBanner div.reproductor{
	/*border: 1px solid #000;*/
	float: right;
	width: 335px; /* old */
}

/* *******************
****** CARRUSEL ******
******************* */
#sliderV1Portada{
	position: absolute;
	z-index: 98;
}
#sliderV1{
	height: 225px;
}
#sliderV1 img{
	position: absolute;
	/*display: none;*/
}

/* **************************
****** MENU HORIZONTAL ******
************************** */

.menu{
	border: 2px solid #05a650;
	border-radius: 10px;
	background: #fff; /* Old browsers */
	color: #000;
	font-size: 0.75em;
	font-weight: bold;
	height: 30px;
	margin: 5px 0;
	vertical-align: middle;
}

.menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li{
	float: left;
}

.menu ul ul{
	position: absolute;
	display: none;
}

.menu li li a{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 1%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 1%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.menu li li{
	float: none;
}

.menu li li ul{
	margin-top: -30px;
	margin-left: 130px;
}

.seccion{
	color: #000;
	display: block;
	height: 22px;
	margin: 0px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 120px;
}

.seccion:hover{
	background: #00a54f;
}

.seccionA{
	color: #f00;
	display: block;
	height: 22px;
	margin: 0px;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 120px;
}

/* *******************************
****** MENU LATERAL BANNERS ******
******************************* */

#menuLateral{
	margin: auto;
	text-align: center;
	vertical-align: top;
}

#btn-whatsapp{
	width: 30%;
}

#fb-comments_{
	background: #fff;
}

#menuLateral img, #menuLateral a, #menuLateral table{

	margin: auto;
	text-align: center;
	vertical-align: top;
}


/* ******************************
****** GALERIA DINAMICA 01 ******
****************************** */
#galeriaDinamica01{
	border-radius: 25px;
	background: #ccc url("../img/varios/turron.png"); /* para la version 0.0 color gris */
	/*background: #9f9 url("../img/varios/turron.png");*/ /* para la version 0.1 color verde */
	color: #fff;
	padding: 25px;
	width: 725px;
}

#galeriaDinamica01Contenedor{
	height: 370px;
	margin: 0 auto;
	width: 570px;
}

#galeriaDinamica01Contenedor div{
	position: absolute;
}


.galeriaDinamica01Img{
	/*background: #666; */ /* para la version 0.0 color gris */
	background: #20bc95; /* para la version 0.1 color verde */
	padding: 10px;
	position: static;
	text-align: center;
	width: 100%;
}

.galeriaDinamica01Img img{ width: 100%; }

.galeriaDinamica01Footer{
	/*background: #333; */ /* para la version 0.0 color gris */
	background: rgba(51, 51, 51, 0.7); 
	color: #fff;
	font-size: 0.9em; 
	height: 60px;
	letter-spacing: 0.1em;
	padding: 10px;
	position: static;
	top: 290px;
	width: 550px;
}

#galDinNavegacion{
	/*background: #aaa url(../img/varios/lineaDiagonal02.png);*/ /* para la version 0.0 color gris */
	/*border: 3px solid #666;*/ /* para la version 0.0 color gris */
	background: #20bc95 url(../img/varios/lineaDiagonal01.png); /* para la version 0.1 color verde */
	border: 3px solid #05a650; /* para la version 0.1 color verde */
	border-radius: 10px;
	margin: 5px 80px;
	padding: 10px;
	width: 450px;
}

#galDinNavegacion div{
	background: url(../img/varios/boton01.png);
	display: inline-block;
	height: 21px;
	margin: 5px;
	width: 21px;
}

#galDinNavegacion div:hover{
	cursor: pointer;
}

/* *********************************
****** CONTENIDO DE SECCIONES ******
********************************* */

.contenido{
	background: #fbe921;  /* para la version 0.0 color rojo */
	border: 5px solid #959d15; /* para la version 0.0 color rojo */
	/*background: #9f9 url("../img/varios/lineaDiagonal02.png");*/ /* para la version 0.1 color verde */
	/*border: 5px solid #05a650;*/ /* para la version 0.1 color verde */
	border-radius: 25px;
	margin: 10px 0;
	padding: 25px;
	width: 77%;
}

#contenido h2{
	background: #00d368;
	border: 3px solid #002d14;
	border-radius: 10px 10px 0 0;
	box-shadow: 15px 15px 15px #410000;
	color: #002d14;
	margin: 15px;
	padding: 10px;
	width: 50%;
}

.contenidoSeccionDiv{
	background: #fff;
	border: 1px solid #666;
	margin: 0;
	padding: 10px;
}

.contenidoSeccionDiv hr{
	color: #999;
	width: 80%;
}

#art{
	margin: 10px 0;
}

/* **************************************
****** CONTENIDO DE PATROCINADORES ******
************************************** */

.patrocinadoresList{
	background: #fff;
	padding-bottom: 15px;
}

.patrocinadoresList h2{
	font-weight: bold;
}

.patrocinador{
	background: #feffef;
	border: 3px solid #dbe29a;
	border-radius: 10px;
	color: #515b07;
	margin: 10px 0;
	padding: 15px;
}

.patrocinador:hover{
	background: #effff2;
	border: 3px solid #9ae0a0;
	color: #115b07;
}

.patrocinador img{
	width: 70%;
	height: 70%;
}

.patrocinador span{
	display: block;
}

/* ************************
****** PIE DE PAGINA ******
************************ */
.comentarios_fb{
	margin: 50px 0 50px 150px;
	text-align: left;
}